md-card
{
	padding-top: 0px;
	border-radius: 100px;
    background: white;
    height: 140px;
    width: 150px;    
}
md-card-title
{
	
	font-size: 40px;
	font-family: Times New Roman;
	font-style: italic;
}
label
{
	text-align: center;
}
.butjava
{  
	height: 150px;
	width: 150px;
	border-radius: 50px;
	background:yellow;
	text-align: center;
	position: relative;
	top: 5%;
	left:1%;
}			
.butpython{
	height: 150px;
	width: 150px;
	border-radius: 80px;
	background:#0000ff;
	text-align: center;
	position: relative;
	top: 5%;
	left:1%;
}
.butruby
{
	height: 150px;
	width: 150px;
	border-radius: 50px;
	background:#007100;
	text-align: center;
	position: relative;
	top: 5%;
	left:1%;
}
.butperl
{
	height: 150px;
	width: 150px;
	border-radius: 80px;
	background:white;
	text-align: center;
	position: relative;
	top: 5%;
	left:1%;
}
.butangular
{  
	height: 150px;
	width: 150px;
	border-radius: 50px;
	background:cyan;
	text-align: center;
	position: relative;
	top: 5%;
	left:1%;
}			
.butreact
{  
	height: 150px;
	width: 150px;
	border-radius: 80px;
	background:brown;
	text-align: center;
	position: relative;
	top: 5%;
	left:1%;
}			
.img{
	height: 100px;
	width : 100px;
	border-radius: 250px;
}

.java 
{
	color: red;
	font-size: 20px;
	padding-left: 20px;
	font-family: Times New Roman;
	font-style:italic;
	font-weight: bold;
}
.python
{
	font-weight: bold;
	color: white;
	font-size: 20px;
	font-family: Times New Roman;
	font-style:italic;
}
.ruby
{
	font-weight: bold;
	color: white;
	font-size: 20px;
	padding-left:15px;
	font-family: Times New Roman;
	font-style:italic;
}
.perl
{
	color: green;
	font-weight: bold;
	font-size: 20px;
	padding-left: 20px;
	font-family: Times New Roman;
	font-style:italic;
}

.angular
{
	color: blue;
	font-size: 20px;
	font-family: Times New Roman;
	font-style:italic;
	font-weight: bold;
}

.react 
{
	color: white;
	font-size: 20px;
	padding-left: 10px;
	font-family: Times New Roman;
	font-style:italic;
	font-weight: bold;
}


