.frontback{


}
.card{
	background-color : pink;
	width : 300px;
	height : 200px;
	margin-top: 100px;
	margin-left : 450px;
	align-items: center;
	text-align: center;
	padding-top: 30px;
	line-height: 30px;
	border-radius: 100px;
}
