 <button class="frontback"  md-raised-button>BACK</button>

 <md-card class="card">

<div>
 <label>DOMAIN : {{conceptDomain}}</label>
</div>


<!-- <div *ngIf="concept" >  -->
<label> CONCEPTS  : 
  <input ngui-auto-complete
    [(ngModel)]="model1"
    [source]="concepts"
    placeholder="List of concepts"/></label>

 <!--  </div> -->
 <label> TERMS  : 
 <input ngui-auto-complete
    [(ngModel)]="model2"
    [source]="terms"
    placeholder="List of Terms"/></label>

<br> <button  md-raised-button>SWIS-it</button>
</md-card>






 

